          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: white;
          }
         
          li {
            float: left;
          }
         
          li a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
     

          li a:hover {
            background-color: gray;
            color:white;
          }


          .right{
              margin-right:10px;
          }
          .button {
              margin-top: 5px;
      background-color: #c2195b;
      border-radius: 10px;
      padding: 10rem;
      color: white;
      align-content: center;
      border-style: none;
      font-size: 10px;
      padding:10px;


              }
              .buttons {
              margin-top: 5px;
      background-color: #c2195b;
      border-radius: 10px;
      padding: 0.5rem;
      color: white;
      align-content: center;
      border-style: none;
      font-size: 15px;
      margin-right:100px;
      margin-top:-700px;
      margin-left:1100px;
     
              }
              .book_button {
              margin-top: 5px;
      background-color: blue;
      border-radius: 10px;
      padding: 0.5rem;
      color: white;
      align-content: center;
      border-style: none;
      font-size: 15px;


              }
     
      .background{
      background-image: url("s8pic.jpg");
      background-repeat: no-repeat;
     background-position: center top;
     background-size: 1350px 390px;
     color: rgb(0, 0, 0);
     background-color:black;
    width: 1330px;
    height: 350px;
    margin-right: -400px;


  }
  .title-2{
      padding-right: 100px;
  }
  p{
    padding: 10px;
    width: 700px;
    height: 200px;
    text-align: center;
  }
  .pa{
    padding: 10px;
    width: 1000px;
    height: 200px;
    text-align: justify;
  }



    