nav {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0px;
    font-size: 10px;

    }

 .right-nav {
     float: right;    
}

.nav-logo, nav li {
    display: inline-block;
    padding: 1em;
    margin-left: 50px;
}

.tuitt-button {
    margin-top: 5px;
    background-color: #c2195b;
    border-radius: 20px;
    padding: 0.5rem;
    color: white;
    align-content: center;
    border-style: none;
    font-size: 10px;

}


  .container {
  position: relative;


}

